<!DOCTYPE html>
{% load static %}
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="{% static 'img/fav.png' %}">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>AGILE AVENGERS </title>
	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
	<link rel="stylesheet" href="{% static 'css/nouislider.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/ion.rangeSlider.css' %}" />
	<link rel="stylesheet" href="{% static 'css/ion.rangeSlider.skinFlat.css' %}" />
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<style>
		.center-container {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 110vh;

			width: 200vh;

		}

		.col-lg-4 {}
	</style>
</head>

<body>

	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="{% url 'home' %}"><img
							src="{% static 'img/mini_project_logo.png' %}" style="height:5rem; width: 7rem; "
							alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item active"><a class="nav-link" href="{% static 'home.html' %}">Home</a>
							</li>
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
									aria-haspopup="true" aria-expanded="false">Shop</a>
							</li>

							<li class="nav-item"><a class="nav-link" href="userprofile.html">Profile</a></li>

							{% if request.user.is_authenticated %}
							<li class="nav-item submenu dropdown">
								<a href="{% url 'logout' %}" class="nav-link dropdown-toggle">Logout</a>
							</li>
							{% else %}
							<li class="nav-item submenu dropdown">
								<a href="{% url 'loginn' %}" class="nav-link dropdown-toggle">Login</a>
							</li>
							{% endif %}

						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="nav-item"><a href="#" class="cart"><span class="ti-bag"></span></a></li>
							<li class="nav-item">
								<button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="search_input" id="search_input_box">
			<div class="container">
				<form class="d-flex justify-content-between" method="get" action="{% url 'search_products' %}">
					<input type="text" name="q" class="form-control" id="search_input" placeholder="Search Here">
					<button type="submit" class="btn"></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div>
	</header>
	<!-- End Header Area -->

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Checkout</h1>

				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Checkout Area =================-->
	<!-- <section class="checkout_area section_gap"> -->

		<div>
			<div class="center-container my-5" style="height: inherit;">
				<div class="col-lg-4">
					<div class="order_box">
						
						<h2>Your Order</h2>
						<h5>Shipping Address</h5> 
						
							<p> {{ address.address }}, {{ address.city }}, {{ address.postalcode }}</p>
							<a href="{% url 'orderaddress' %}" class="btn btn-primary">Change address</a>
						
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Productname</th>
									<th scope="col">Quantity</th>
	
								</tr>
							</thead>
							<tbody>
								{% for item in items %}
								<tr>
									<td>
										<div class="media-body">
											<p>{{ item.product.Name }}</p>
										</div>
									</td>
	
									<td>
										<p>{{ item.quantity }}</p>
									</td>
	
								</tr>
								{% endfor %}
							</tbody>
						</table>
	
						<!-- <ul class="list">
								{% for item in items %}
								<li><a href="#">{{ item.product.Name }}</a></li><span>{{item.quantity}}</span>
								{% endfor %}
							</ul> -->
						<ul class="list list_2">
	
							<li><a href="#">Subtotal <span>Rs.{{ subtotal|floatformat:2 }}</span></a></li>
							<li><a href="#">Shipping <span>Flat rate:Rs.50.00</span></a></li>
							<li><a href="#">Total <span>Rs.{{ total|floatformat:2 }}</span></a></li>
						</ul>
	
						<div class="payment_item">
							<label for="f-option5">Check payments</label>
							<div class="radion_btn">
								<input type="radio" id="f-option5" name="selector">
								<label for="f-option5">Cash on delivery</label>
								<div class="check"></div>
							</div>
							<p>you can pay while receiving your product if you don’t have a COD pay through PayPal
								account.</p>
						</div>
						<div class="payment_item active">
							<div class="radion_btn">
								<input type="radio" id="f-option6" name="selector">
								<label for="f-option6">Paypal </label>
								<img src="{% static 'img/product/card.jpg' %}" alt="">
								<div class="check"></div>
							</div>
							<p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal
								account.</p>
						</div>
						<!-- <div class="creat_account">
								<input type="checkbox" id="f-option4" name="selector">
								<label for="f-option4">I’ve read and accept the </label>
								<a href="#">terms & conditions*</a>
							</div> -->
						<a class="primary-btn" href="{% url 'order_success' order.id %}">Proceed </a>
					</div>
				</div>
			</div>
		</div>


		<!-- start footer Area -->
		<footer class="footer-area section_gap">
			<div class="container">
				<div class="row">
					<div class="col-lg-3  col-md-6 col-sm-6">
						<div class="single-footer-widget">
							<h6>About Us</h6>
							<p>
								The beauty of the game is strength and technique and when you shorten the game,
								technique goes for a toss and the quality of badminton will surely go down in this
								system.
							</p>
						</div>
					</div>
					<div class="col-lg-4  col-md-6 col-sm-6">
						<div class="single-footer-widget">
							<h6>Newsletter</h6>
							<p>Stay update with our latest</p>

						</div>
					</div>
					<div class="col-lg-3  col-md-6 col-sm-6">
						<div class="single-footer-widget mail-chimp">
							<h6 class="mb-20">Contact Us</h6>
							<p>Agileavengers trivandrum
								mobno. 7521454639
							</p>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-6">
						<div class="single-footer-widget">
							<h6>Follow Us</h6>
							<p>Let us be social</p>
							<div class="footer-social d-flex align-items-center">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-dribbble"></i></a>
								<a href="#"><i class="fa fa-behance"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
					<p class="footer-text m-0">
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script> All rights reserved | AGILE AVENGERS

					</p>
				</div>
			</div>
		</footer>
		<!-- End footer Area -->


		<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
			integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
			crossorigin="anonymous"></script>
		<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
		<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
		<script src="{% static 'js/jquery.sticky.js' %}"></script>
		<script src="{% static 'js/nouislider.min.js' %}"></script>
		<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
		<script src="{% static 'js/owl.carousel.min.js' %}"></script>
		<!--gmaps Js-->
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
		<script src="{% static 'js/gmaps.min.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
</body>

</html>