{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    
    <link rel="shortcut icon" href="/path/to/your/static/img/fav.png">
    <meta name="author" content="CodePixar">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="UTF-8">
    <title>AGILE AVENGERS</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/nouislider.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/ion.rangeSlider.css' %}" />
    <link rel="stylesheet" href="{% static 'css/ion.rangeSlider.skinFlat.css' %}" />
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- Add other stylesheet links as needed -->
</head>
<body>
    <header class="header_area sticky-header">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light main_box">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="{% url 'home' %}"><img
                            src="{% static 'img/mini_project_logo.png' %}" style="height:5rem; width: 7rem; "
                            alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item active"><a class="nav-link" href="{% static 'home.html' %}">Home</a>
                            </li>
                            <!-- <li class="nav-item submenu dropdown">
                                <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">Shop</a> -->
                                <!-- <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="category.html">Shop Category</a></li>
                                    <li class="nav-item"><a class="nav-link" href="single-product.html">Product
                                            Details</a></li>
                                    <li class="nav-item"><a class="nav-link" href="checkout.html">Product Checkout</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="cart.html">Shopping Cart</a></li>
                                    <li class="nav-item"><a class="nav-link" href="confirmation.html">Confirmation</a>
                                    </li>
                                </ul> -->
                            </li>
                            
                            <!-- <li class="nav-item"><a class="nav-link" href="userprofile.html">Profile</a></li> -->
                            <li class="nav-item"><a class="nav-link" href="{% url 'userprofile' %}">Profile</a></li>

                            {% if request.user.is_authenticated %}
                                <li class="nav-item submenu dropdown">
                                    <a href="{% url 'logout' %}" class="nav-link dropdown-toggle">Logout</a>
                                </li>
                            {% else %}
                                <li class="nav-item submenu dropdown">
                                    <a href="{% url 'loginn' %}" class="nav-link dropdown-toggle">Login</a>
                                </li>
                            {% endif %}
                        
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
							<li class="nav-item"><a href="{% url 'cart' %}" class="cart"><span class="ti-bag"></span></a></li>
							<li class="nav-item"><a href="{% url 'wallet_view' %}" class="wallet"><span class="ti-wallet"></span></a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="nav-item"><a href="{% url 'wishlist' %}" class="wishlist"><span class="lnr lnr-heart"></span></a></li>
							<li class="nav-item">
								<button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
							</li>
						</ul>
                    </div>
                </div>
            </nav>
        </div>
        <!-- <div class="search_input" id="search_input_box">
            <div class="container">
                <form class="d-flex justify-content-between" method="get" action="{% url 'search_products' %}">
                    <input type="text" name="q" class="form-control" id="search_input" placeholder="Search Here">
                    <button type="submit" class="btn"></button>
                    <span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
                </form>
            </div>
        </div> -->
    </header>
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1> order list</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Order #{{ order.order_number }} Details</h5>
                    </div>
                    <div class="card-body">
                        <p>Order Date: {{ order.order_date }}</p>
                        <p>Total Amount: {{ order.total_amount }}</p>
                        <p>Payment Method: {{ order.payment_option }}</p>

                        <h5>Order Items:</h5>
                        <ul>
                            <!-- {% for item in order.items.all %}
                                <li>{{ item.quantity }}x {{ item.product.Name }} - {{ item.product_price }}</li>
                                <img src="{{ item.product.image.url }}" alt="{{ item.product.Name }}" style="max-width: 100px; max-height: 100px;" style="width: 6rem;" height="84rem">  
                                <p class="mb-1"><strong>Size:</strong> {{ item.product.size }}</p>
                                <p class="mb-1"><strong>Price:</strong> Rs.{{ item.product.price }}</p>
                                <p class="mb-1"><strong>Quantity:</strong> {{ item.quantity }}</p>
                                
                            {% endfor %} -->
                            
                            <ul>
                                {% for item in order.items.all %}
                                    <li>
                                        <div style="display: flex; align-items: center;">                           
                                            
                                            <div style="margin-right: 20px;">
                                                
                                                <img src="{{ item.product.image.url }}" alt="{{ item.product.Name }}" style="max-width: 100px; max-height: 150px;">                                               
                                            </div>
                            
                                            <div>
                                                <p><strong>Product Name: </strong>{{ item.product.Name }}</p>
                                                <p><strong>Size:</strong> {{ item.product.size }}</p>
                                                <p><strong>Price:</strong> Rs.{{ item.product.price }}</p>
                                                <p><strong>Quantity:</strong> {{ item.quantity }}</p>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                                                      
                        </ul>
                        {% if order.cancel %}
                            <p>cancelled</p>
                        {% elif order.status == 'Delivered' %}
                        <a class="btn btn-danger" href="{% url 'returnorder' order.id %}">Return Order</a>    
                        {% else %}
                            <a class="btn btn-danger" href="{% url 'cancelorder' order.id %}">Cancel Order</a>
                        {% endif %}
                        <a href="{% url 'generate_invoice' order.id %}" class="btn btn-success">Download Invoice</a>                       
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>About Us</h6>
                        <p>
                            The beauty of the game is strength and technique and when you shorten the game,
                            technique goes for a toss and the quality of badminton will surely go down in this system.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Newsletter</h6>
                        <p>Stay update with our latest</p>
    
                    </div>
                </div>
                <div class="col-lg-3  col-md-6 col-sm-6">
                    <div class="single-footer-widget mail-chimp">
                        <h6 class="mb-20">Contact Us</h6>
                        <p>Agileavengers trivandrum
                            mobno. 7521454639
                        </p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Follow Us</h6>
                        <p>Let us be social</p>
                        <div class="footer-social d-flex align-items-center">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
                <p class="footer-text m-0">
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | AGILE AVENGERS
    
                </p>
            </div>
        </div>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
    
    </html>    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    

</body>
</html>
