<!-- shop/wishlist.html -->

<!DOCTYPE html>
<html lang="en">
<head>
   
</head>
<body>

   
    <div class="container mt-5">
        <h2>Your Wishlist</h2>
        {% if wishlist_items %}
            <ul>
                {% for item in wishlist_items %}
                    <ul>
                        <img src="{{ item.product.image.url }}" alt="{{ item.product.Name }}" style="width: 100px; height: 100px;">
                        <strong>{{ item.product.Name }}</strong> - Rs.{{ item.product.price }}
                        <form method="post" action="{% url 'add_to_cart' item.product.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Add to Cart</button>
                        </form>
                    </ul>
                {% endfor %}
            </ul>
        {% else %}
            <p>Your wishlist is empty.</p>
        {% endif %}
    </div>

    

</body>
</html>
